include "./cfg/animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"

include "dms/outputs.kdl"

include "dms/cursor.kdl"
include "dms/binds.kdl"

include "dms/windowrules.kdl"
